.blog-item {
    filter: brightness(0.5);
    background-color: #333;
    /* Initial dark background color */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    /* Transition for background color change */
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 5px;
    /* Adjusted margin here */
}

.blog-image {
    background-color: #ded9d9;
    text-align: center;
    /* Center align the image */
    margin-bottom: 20px;
    /* Add some space below the image */
}

.blog-image img {
    max-width: 100%;
    /* Ensure the image doesn't exceed its container */
    height: auto;
    /* Maintain aspect ratio */
}

.blog-body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.blog-body p {
    margin-bottom: 20px;
}

.blog-body h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.blog-body h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.blog-body h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.blog-body h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.blog-body a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.blog-body a:hover {
    color: #0056b3;
}

.blog-body blockquote {
    border-left: 4px solid #007bff;
    padding-left: 15px;
    margin-left: 0;
    color: #777;
}

.blog-body blockquote p {
    margin-bottom: 0;
}

.blog-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.comments-list {
    padding-left: 0;
    list-style: none;
}

.comment {
    margin-bottom: 20px;
}

.comment p {
    margin-bottom: 5px;
}

.reply-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.reply-form {
    display: none;
    margin-top: 10px;
}

.add-comment {
    margin-top: 20px;
}

.add-comment input[type="text"],
.add-comment button[type="submit"] {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.blog-item .bio-container h3,
.blog-item .bio-container h6,
.blog-item .bio-container p {
    position: relative;
    z-index: 1;
    color: white;
    /* Text color set to white */
}

.blog-item a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-decoration: none;
}

.bio-container {
    margin: 20px;
    max-width: 500px;
}

.pagination a {
    margin-right: 5px;
}

.image-container {
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.blog-meta {
    margin: 50px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Ensure it appears above other content */
}

nav.navbar {
    background-color: #343a40;
}

:root {
    --surface-color: #fff;
    --curve: 40;
}

* {
    box-sizing: border-box;
}

.blog-list-container {
    background-color: rgba(139, 58, 58, 0.5);
    /* border-radius: calc(var(--curve) * 1px); */
    font-family: 'Noto Sans JP', sans-serif;
    margin: 5%;
    background-color: rgba(182, 179, 179, 0.5);
    /* Semi-transparent gray */
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px;
    /* Shadow effect */
    overflow: auto;
    /* Set overflow to auto */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    /* Adjusted gap here */
    /* margin: 5rem 5vw; */
    padding: 0;
    list-style-type: none;
}

.card {
    margin-top: 50px;
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

.indent {
    margin-top: 25px;
    margin-bottom: 25px;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

body {
    background-size: cover;
    background: #f1f1f1;
    background-position: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    margin-top: 50px;
    margin-left: 20px;
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .leftcolumn {
        width: 100%;
    }

    .reply-btn {
        display: block;
        margin-bottom: 10px;
    }

    .reply-form {
        margin-left: 20px;
    }

    .blog-body {
        font-size: 14px;
    }

    .blog-body h1 {
        font-size: 28px;
    }

    .blog-body h2 {
        font-size: 20px;
    }

    .blog-body h3 {
        font-size: 18px;
    }

    .blog-body h4 {
        font-size: 16px;
    }
}
